VITE_SERVER_URL=http://localhost:8000

# 这个 TOKEN 需要在 Sentry 上使用个人令牌就可以创建。在 Developer Settings -> Personal Tokens 中创建。
# 并且配置 Permission 为 Project: Admin / Release: Admin / Organization: Read
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=

